.container {
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  overflow: hidden;
  width: 100%;
  background-image: url('../public/images/bg-greenabstract.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  /* min-height: calc(100vh - 105px); */
}

.heading {
  color: #004976;
  font-size: 2rem;
  font-weight: 600;
  justify-self: center;
  align-self: center;
}

.section {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 0 3vw;
}

.section .text {
  font-size: 1.3rem;
  font-weight: 600;
  color: #004976;
  max-width: 700px;
  margin: 30px 0;
  text-align: center;
}

.button {
  font-size: 1.2rem;
  font-weight: 600;
  color: #F8F0DF;
  padding: 15px 45px;
  background-color: #004976;
  border-radius: 8px;
  margin-top: 3vw;
  max-width: fit-content;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

.bottom {
  padding: 0;
}

.marginTop {
  margin-top: 30vh;
}

@media screen and (max-width: 767px) {
  .container {
    /* height: calc(100vh - 90px); */
  }
}