.contactContainer {
  display: flex;
  flex-direction: column;
  padding: 10vh 10vw;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  height: calc(100vh - 80px);
  background-image: url('../public/images/bg-farm.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
}

.heading h2 {
  color: #004976;
  font-size: 2rem;
  font-weight: 600;
}

.subheading {
  font-size: 1rem;
  color: #004976;
  font-weight: 500;
  text-align: center;
  max-width: 400px;
  margin-bottom: 5vh;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.formLabel {
  padding: 5px 0;
  margin-top: 20px;
  color: #004976;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1ch;
}

.invalidFeedback {
  color: red;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
  padding: 5px 0;
}

.formControl {
  height: 30px;
  background-color: #F8F0DF;
  border: 1px solid #004976;
  border-radius: 5px;
  color: #004976;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0 10px;
}

.isInvalid {
  border: 2px solid red;
}

.isInvalid:focus {
  outline: none !important;
}

.formControl:focus {
  outline: #004976 solid 2px;
}

.formControl.messageBox {
  height: 100px;
  padding: 10px;
}

.formSubmit {
  margin-top: 40px;
  height: 40px;
  background-color: #004976;
  color: #F8F0DF;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1ch;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.formSubmit:hover {
  transform: scale(1.025);
}

@media screen and (max-width: 767px) {
  .contactContainer {
    height: calc(100vh - 30px);
    justify-content: center;
    padding: 5vh 5vw;
    background-image: url('../public/images/bg-grass.png');
    background-position: bottom;
    background-size: contain;
  }
}