.footerContainer {
  display: flex;
  flex-direction: row;
  background-color: #004976;
  color: #F8F0DF;
  padding: 1vw 2vw;
  align-items: center;
  font-size: 0.8rem;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 0.1ch;
  height: 30px;
}

@media screen and (max-width: 367px) {
  .footerContainer {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}