.container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #FDF6E8;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

.firstSection {
  width: 100%;
  background-image: url("../public/images/farmbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10vw 0 20vw 5vw;
}

.secondSection {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 2vw 2vw;
}

.card span {
  max-width: 600px;
  max-height: 400px;
}

.thirdSection {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 7vw;
  margin: 0;
  margin-bottom: 3vh;
  z-index: 1;
}

.brand {
  color: #004976;
}

.description {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 3vh;
  max-width: 50vw;
  color: #000;
  z-index: 1;
}

.button {
  border: none;
  background-color: #004976;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.750rem 1.5rem;
  letter-spacing: 0.25ch;
  border-radius: 8px;
  cursor: pointer;
  max-width: max-content;
}

.card {
  flex: 1;
  display: flex;
  padding: 3vw;
  padding-right: 0;
  flex-direction: column;
  justify-content: center;
  max-height: 50vh;
}

.cardAlt {
  flex: 1;
  display: flex;
  padding: 3vw;
  flex-direction: column;
  justify-content: center;
  max-height: 50vh;
  align-items: center;
}

.cardAlt .description {
  text-align: center;
  max-width: 400px;
}

.cardAlt .subheading {
  text-align: center;
  max-width: 500px;
}

.eventBanner {
  display: flex;
  flex-direction: row;
  background-color: #004976;
  color: #FDF6E8;
  max-height: fit-content;
  width: 100%;
  align-items: center;
  justify-items: center;
  padding: 1rem 0;
}

.eventBanner h2 {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  max-width: 70vw;
  margin: 2.5vw;
}

.eventBanner button {
  align-self: center;
  max-width: max-content;
  max-height: max-content;
  margin: 15px;
  border-radius: 8px;
  border: 2px solid #FDF6E8;
  background-color: #004976;
  color: #FDF6E8;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
}

.eventBanner button:hover {
  background-color: #FDF6E8;
  color: #004976;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .firstSection {
    height: 55vh;
    padding: 20vw 0 20vw 5vw;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    max-width: 90vw;
    text-shadow: 0px 0px 10px rgba(255,255,255,1);
  }

  .secondSection {
    flex-direction: column-reverse;
    margin-top: 8vh;
  }

  .thirdSection {
    flex-direction: column;
  }

  .secondSection .cardAlt {
    margin-top: -10vw;
  }

  .eventBanner h2 {
    font-size: 1.2rem;
  }
}